  <div class="d-flex justify-content-between mb-5">
    <h5>Amount of food items to buy: <%= @total_food_items %></h5>
    <h5>Total value of food needed: <%= number_to_currency(@total) %></h5>
  </div>