<div class="page-wrapper">
<div class="heading_container">
  <h2 class="food_form_heading">New Food</h2>
  <p class="app_description">Transform your dish from ordinary to extraordinary. Provide the essential details of your ingredients.</p>
</div>

<%= render 'form' %>

<%= link_to 'Back to Food List', foods_path, class:'back_link' %>
</div>
